IMAGE_DIRECTORY = 'absolute path to the image directory example: /Users/dummy/Documents/git/udacity-image-processing/assets/images'
IMAGE_OUTPUT_DIRECTORY = 'absolute path to the outpu image directory example: /Users/dummy/Documents/git/udacity-image-processing/assets/output'